<div class="container">
  <div class="contenedor-datos-basicos">
    <p class="title-approbe">
      Elige las cuotas
    </p>
    <div *ngIf="mostrarReferencia === 'mostrarReferencia'">
      <div class="contenedor-texto">
        <p>Referencia de pago</p>
        <p>{{dataInformation.referenciaPago}}</p>
      </div>
      <div  class="contenedor-valor-compra">
        <p class="title-valor-compra">Valor de la compra</p>
        <p class="valor-compra">{{dataInformation.ammount | currency: 'USD' : 'symbol' : '1.0-0'}}</p>
      </div>
      <app-form
    
        [controls]="selectionFees$ | async"
        (sendInfo)="getSelectionFees($event)"
        (selectedClient)="getClientSelected($event)"
      ></app-form>
    </div>
    <div *ngIf="mostrarReferencia === 'mostrarFormulario'">
      <app-form
        [controls]="selectionFees$ | async"
        (sendInfo)="getSelectionFees($event)"
        (selectedClient)="getClientSelected($event)"
      ></app-form>
    </div>
  </div>
</div>
