<div class="py-5 lg:py-0 pl-4 pr-5 flex flex-col lg:flex-row gap-4 rounded-xl border border-[#191F38] max-w-[344px] lg:max-w-none items-start m-auto mb-10 mt-5 divide-y lg:divide-x divide-[#191F38]">
    <div class="flex flex-col items-center lg:items-start justify-center lg:justify-start w-full lg:w-[269px] lg:py-5">
        <span class="font-medium">Monto Total</span>
        <span>{{ totalAmmountCollection | currency : 'USD' : '$' : '1.0-0' }}</span>
    </div>

    <div class="flex flex-col items-center lg:items-center justify-between lg:py-5 lg:pl-8 pt-8">
        <div class="grid grid-cols-2 gap-14 text-center lg:text-start mb-3">
            <span class="font-medium">Recaudado por día</span>
            <span class="font-medium">Fecha del recaudo</span>
        </div>
        <div class="text-center w-full">
        @for (item of pagedCollection; track $index) {
            <div class="w-full grid grid-cols-2 gap-14 mb-3">
                <span>{{ item.ammount | currency : 'USD' : '$' : '1.0-0' }}</span>
                <span>{{ formatDateToTable(item.startDate) }}</span>
            </div>
        }
        </div>
        <div class="flex justify-center mt-4 text-base font-bold text-[#191F38]">
            <button (click)="prevPage()" [disabled]="currentPage === 0" class="w-7 h-7mx-1 bg-white rounded">&lt;</button>
            <button *ngFor="let page of visiblePages" (click)="goToPage(page)" [ngClass]="{'bg-[#191F38] text-[#7DFFB2]': page === currentPage, 'bg-white': page !== currentPage}" class="border w-7 h-7 border-[#E4E3E3] mx-1 rounded">
              {{ page + 1 }}
            </button>
            <button *ngIf="pages.length > 2" class="w-7 h-7 mx-1 rounded bg-white border  border-[#E4E3E3]" disabled>...</button>
            <button *ngFor="let page of endPages" (click)="goToPage(page)" [ngClass]="{'bg-[#191F38] text-[#7DFFB2]': page === currentPage, 'bg-white': page !== currentPage}" class="border w-7 h-7 border-[#E4E3E3] mx-1 rounded">
              {{ page + 1 }}
            </button>
            <button (click)="nextPage()" [disabled]="currentPage === pages.length - 1" class="w-7 h-7 mx-1 bg-white rounded">&gt;</button>
          </div>
    </div>
</div>
<app-history-info [totalResults]="totalCollection[0].end"></app-history-info>