<div class="container">
  <div class="contenedor-onboarding">
    <div class="contenedor-informacion">
      <div class="title-approbe">¡Bienvenido a Approbe!</div>
      <div class="contenedor-onboarding-textos">
        <p>
          Antes de iniciar tu solicitud de crédito, ten en cuenta lo siguiente
        </p>
        <ul>
          <li>
            <p>
              Te garantizamos que toda la información que proporciones será
              tratada con confidencialidad y sólo será utilizada para el
              análisis de crédito.
            </p>
          </li>
          <li>
            <p>
              Es importante que proporciones información actualizada para que
              podamos realizar el análisis correcto de tu solicitud.
            </p>
          </li>
          <li>
            <p>
              Al iniciar la solicitud de crédito, nos autorizas a consultar tus
              datos en centrales de riesgo y otras fuentes necesarias para el
              otorgamiento de la financiación de tu pago.
            </p>
          </li>
        </ul>
        <div class="contenedor-botones">
          <button routerLink="/basic-data"  class="btn btn-azul btn-redondo">Iniciar solicitud</button>
          <button class="btn btn-volver btn-redondo" (click)="navigateToClient()">Volver al comercio</button>
        </div>
      </div>
      <div class="contenedor-img-onboarding">
        <img src="../../../../../assets/img/imagen-onboarging.svg" alt="imagen de onboarding">
      </div>
    </div>
  </div>
</div>
