.contenedor-onboarding{
  width: 80%;
  border-radius: 10px;
  background-color: #FFFFFF;
  margin: 20px auto;
  padding: 50px;
}

.contenedor-onboarding .title-approbe {
  font-weight: 700;
  width: 100%;
  font-size: 20px;
  line-height: 25px;
}

.contenedor-onboarding .contenedor-informacion {
  margin: 20px 0;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  justify-content: space-between;
}

.contenedor-onboarding .contenedor-informacion .contenedor-onboarding-textos {
  font-size: 14px;
  color: #49454F;
  line-height: 21px;
  width: 50%;
}

.contenedor-onboarding .contenedor-informacion .contenedor-onboarding-textos ul li {
  color: #3886FF;
}

.contenedor-onboarding .contenedor-informacion .contenedor-onboarding-textos ul li p {
  color: #49454F
}

.contenedor-onboarding .contenedor-informacion .contenedor-img-onboarding {
  width: 40%;
}

.contenedor-onboarding .contenedor-informacion .contenedor-img-onboarding img {
  width: 100%;
  vertical-align: top;
}

.contenedor-onboarding .contenedor-informacion .contenedor-onboarding-textos .contenedor-botones {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-azul {
  padding: 16px 32px;
  text-align: center;
  background: #191f38;
  color: #7dffb2;
  width: auto;
  font-weight: 700;
  font-size: 16px;
}

.btn-redondo {
  width: 47%;
  border-radius: 100px;
}

.btn-volver {
  color: #3886FF;
}

@media screen and (max-width: 992px) {
  .contenedor-onboarding {
    width: 100%;
    padding: 10px;
  }

  .contenedor-onboarding .contenedor-informacion {
    flex-direction: column;
    align-items: flex-start;
    
  }

  .contenedor-onboarding .contenedor-informacion .title-approbe {
    align-self: center;
    text-align: center;
    order: 2
  }

  .contenedor-onboarding .contenedor-informacion .contenedor-img-onboarding {
    align-self: center;
    order: 1;
  }

  .contenedor-onboarding .contenedor-informacion {
    order: 2;
  }

  .contenedor-onboarding .contenedor-informacion .contenedor-onboarding-textos {
    width: 100%;
    font-size: 14px;
    order: 3;
  }

  .btn-redondo {
    width: 100%;
  }

}



