@if (isSmall) {
  @for (item of creditsData; track $index) {
  <div class="bg-white max-w-[344px] pb-6 px-4 border border-[#E4E3E3] rounded-xl text-base mb-6 md:hidden m-auto">
      <div class="flex items-center justify-between bg-[#F9F9F9] pt-4 pb-6 mb-6">
        <span><b>Número de crédito</b> <br> ****{{ item.id.slice(-4) }}</span>
        <app-checkbox [checkId]="'check-' + item.id" (returnValue)="selectCredit($index, $event)" />
      </div>
    
      <div class="flex flex-col gap-4">
        <div class="flex justify-between">
          <span>Pago mínimo</span>
          <span class="font-medium">{{ item.nextPaid | currency : 'USD' : '$' : '1.0-0'}}</span>
        </div>
    
        <div class="flex justify-between">
          <span>Pago total</span>
          <span class="font-medium">{{ item.saldoCredito | currency : 'USD' : '$' : '1.0-0' }}</span>
        </div>
    
        <div class="flex justify-between">
          <span>Límite de pago</span>
          <span class="font-medium">{{ item.nextFeesDate }}</span>
        </div>
    
        <div>
          <p class="mb-2 font-semibold">Tipo de pago</p>
          <app-select [disabled]="!item.selected" [options]="selectOptions"
            (returnValue)="selectTypePaid($index, $event)" />
        </div>
      </div>
      <div class="flex justify-between items-center mt-6">
        <p class="font-semibold">Valor</p>
          @if (item.selected) {
            @switch (item.typePaid) {
              @case ('0') { <span class="font-semibold"> {{ item.saldoCredito | currency : 'USD' : '$' : '1.0-0' }} </span> }
              @case ('1') { <span class="font-semibold"> {{ item.nextPaid | currency : 'USD' : '$' : '1.0-0' }} </span> }
              @case ('2') { 
                <input 
                  (keyup)="setOtherValue($index, currencyInput)" 
                  type="text" class="py-3 px-4 border border-[#9A9A9A] max-w-[46%] font-semibold rounded-md" 
                  appCurrencyFormatter #currencyInput="appCurrencyFormatter"
                  [appMaxValue]="item.saldoCredito"
                >
              }
              @default { <span class="text-[#707172] font-bold text-lg">$</span> }
              }
            }
          @else { <span class="text-[#707172] font-bold text-lg">$</span> }
      </div>
  </div>
  }
}

@if(!isSmall){
  <div class="bg-white border border-[#E4E3E3] rounded-xl text-base  mb-6 grip divide-y overflow-auto" style="overflow-x: auto;">
    <div class="bg-[#F9F9F9] grid-cols-7 grid text-[#231F20] text-sm font-semibold py-6 min-w-[1120px] pl-6">
      <div class="flex items-center"><app-checkbox checkId="check-all" (returnValue)="changeSelectAll($event)" /></div>
      <div class="flex items-center">Número de crédito</div>
      <div class="flex items-center">Pago mínimo</div>
      <div class="flex items-center">Pago total</div>
      <div class="flex items-center">Límite de pago</div>
      <div class="flex items-center">Tipo de pago</div>
      <div class="flex items-center">Valor</div>
    </div>
    @for (item of creditsData; track $index){
      <div class="grid-cols-7 grid text-[#231F20] text-sm font-semibold py-8 min-w-[1120px] pl-6">
        <div class="flex items-center"><app-checkbox [checkId]="'check-' + item.id" [isChecked]="item.selected" (returnValue)="selectCredit($index, $event)" /></div>
        <div class="flex items-center">****{{ item.id.slice(-4) }}</div>
        <div class="flex items-center">{{ item.nextPaid | currency : 'USD' : '$' : '1.0-0'}}</div>
        <div class="flex items-center">{{ item.saldoCredito | currency : 'USD' : '$' : '1.0-0'}}</div>
        <div class="flex items-center">{{ item.nextFeesDate }}</div>
        <div class="flex items-center"> 
          <app-select 
            class="max-w-1/2"
            [disabled]="!item.selected" [options]="selectOptions"
            (returnValue)="selectTypePaid($index, $event)" 
          />
        </div>
        <div class="flex items-center">
          @if (item.selected) {
            @switch (item.typePaid) {
              @case ('0') { <span class="font-semibold"> {{ item.saldoCredito | currency : 'USD' : '$' : '1.0-0' }} </span> }
              @case ('1') { <span class="font-semibold"> {{ item.nextPaid | currency : 'USD' : '$' : '1.0-0' }} </span> }
              @case ('2') { 
                <input 
                  (keyup)="setOtherValue($index, currencyInput)" 
                  type="text" class="py-3 px-4 border border-[#9A9A9A] max-w-[46%] font-semibold rounded-md" 
                  appCurrencyFormatter #currencyInput="appCurrencyFormatter"
                  [appMaxValue]="item.saldoCredito"
                >
              }
              @default { <span class="text-[#707172] font-bold text-lg">$</span> }
              }
            }
          @else { <span class="text-[#707172] font-bold text-lg">$</span> }
        </div>
      </div>
    }
  </div>
}