.header-pdf-financiador {
  background-color: #7DFFB2;
  border-radius: 20px 20px 0 0;
}

.header-pdf-deudor {
  background-color: #3886FF;
  border-radius: 20px 20px 0 0;
}

.header-pdf-financiador .modal-title {
  color: #191F38;
  font-size: 20px;
  font-weight: 700;
}

.header-pdf-deudor .modal-title {
  color: #FAFAFA;
  font-size: 20px;
  font-weight: 700;
}

.texto-pdf {
  font-size: 16px;
  font-weight: 700;
  text-align: justify;
  line-height: 24px;
}