<div class="contenedor-code-verification">
    <div class="contenedor-code-verification__image">
        <img src="../../../../../assets/img/auth-img.png" alt="Identificación">
    </div>
    <div class="contenedor-code-verification__form-code">
        <p class="title">Enviamos un código a tu celular y tu correo electrónico</p>
        <p>Ingresa el código de 4 dígitos que recibiste en tu celular <b>******{{client.phone}}</b>  o al correo <b>********{{client.mail}}</b></p>
        <p class="error" *ngIf="mostrarError">El código no coincide, por favor ingrésalo nuevamente</p>
        <div class="contenedor-code-verification__code">
            <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="config"></ng-otp-input>
        </div>
        <p>Tu código estará activo dentro de los próximos <b>{{getFormattedTime()}}</b> minutos</p>
        <p>¿No te llego el código? <b (click)="resendOtp()"><u>Reenviar código</u></b></p>
        <div class="contenedor-code-verification__contenedor-botones">
            <button class="btn-blanco btn-redondo btn-volver" routerLink="/">Atrás</button>
            <button (click)="validarOtp()" class="btn-azul btn-redondo">Validar identidad</button>
        </div>
    </div>
</div>