<div class="contenedor-auth-identification">
    <div class="contenedor-auth-identification__image">
        <img src="../../../../../assets/img/Recurso 3.svg" alt="Identificación">
    </div>
    <div class="contenedor-auth-identification__form">
        <p>Ingresa tu número de identificación</p>
        <mat-form-field appearance="outline" >
            <mat-label># de identificación</mat-label>
            <input matInput type="text" placeholder="Escribe aquí" required>
        </mat-form-field>
        <button class="btn-azul btn-redondo">Validar</button>
        <button class="btn btn-volver">volver</button>
    </div>
</div>