.contenedor-auth-identification {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.contenedor-auth-identification .contenedor-auth-identification__image {
    width: 50%;
    height: 100%;
    background-color: #191F38;
}

.contenedor-auth-identification .contenedor-auth-identification__image img {
    width: 77%;
    height: 100%;
    object-fit: cover;
}

.contenedor-auth-identification .contenedor-auth-identification__form {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contenedor-auth-identification .contenedor-auth-identification__form p {
    width: 60%;
    font-size: 2.5rem;
    text-align: center;
    line-height: 50px;
    color: #191F38;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.contenedor-auth-identification .contenedor-auth-identification__form .btn-volver {
  color: #191F38;
  font-size: 16px;
  font-weight: 700;
}

.contenedor-auth-identification .contenedor-auth-identification__without-payments {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.contenedor-auth-identification .contenedor-auth-identification__without-payments .without-payments-text {
  margin-top: 50%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.contenedor-auth-identification .contenedor-auth-identification__without-payments .without-payments-text  p {
    width: 63%;
    font-size: 1.7rem;
    text-align: center;
    line-height: 1.8rem;
    color: #191F38;
}

.contenedor-auth-identification .contenedor-auth-identification__without-payments .contact {
  font-size: 0.625rem;
  width: 60%;
  line-height: 10px;
  text-align: center;
  color: #989891;
  margin-bottom: 20px;
}

.no-border {
    border: none;
}

@media screen and (max-width: 768px) {
  .contenedor-auth-identification .contenedor-auth-identification__image {
      display: none;
  }
  .contenedor-auth-identification .contenedor-auth-identification__form {
      width: 100%;
  }
  .contenedor-auth-identification .contenedor-auth-identification__form p {
    font-size: 1.8rem;
    line-height: 35px;
    width: 100%;
  }
  
}