<div class="contenedor-auth-identification">
    <div class="contenedor-auth-identification__image">
        <img src="assets/images/identification.svg" alt="Identificación">
    </div>
    <div class="contenedor-auth-identification__form">
        <p>Ingresa tu número de identificación</p>
        <mat-form-field>
            <mat-label># de identificación</mat-label>
            <input matInput type="text" placeholder="Escribe aquí" required>
        </mat-form-field>
        <button class="btn btn-primary">Validar</button>
        <button class="btn">volver</button>
    </div>
</div>