<div class="contenedor-auth-identification">
    <div class="contenedor-auth-identification__image">
        <img src="../../../../../assets/img/Recurso 3.svg" alt="Identificación">
    </div>
    <div *ngIf="!paymentsPending" class="contenedor-auth-identification__form">
        <p>Ingresa tu número de identificación</p>
        <app-form [controls]="controls$ | async" (sendInfo)="getInfo($event)"></app-form>
        <button class="btn btn-volver">volver</button>
    </div>
    <div *ngIf="paymentsPending" class="contenedor-auth-identification__without-payments">
        <div class="without-payments-text">
            <p>La cédula <b>99999999999</b> no tiene pagos pendientes</p>
            <button class="btn-azul btn-redondo">Volver</button>
        </div>
        <p class="contact">Si tienes dudas sobre tu crédito, contáctanos por correo a cartera&#64;approbe.co o por teléfono a nuestra línea directa +57 3164740252.</p>
        
    </div>
</div>