/* You can add global styles to this file, and also import other style files */



@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf) format("opentype");
}

@font-face {
  font-family: poppins-bold;
  src: url(./assets/fonts/Poppins-Bold.ttf) format("opentype");
}

::ng-deep .mat-radio-outer-circle{
  border-color: #3886FF !important;
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0 0 0;
}

.mat-tooltip {
  background-color: #191F38;
  color: #FAFAFA;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: poppins !important;
  color: #231f20;
}

/* Tema angular material */



@media screen and (max-width: 959px) {
  
}


