/* You can add global styles to this file, and also import other style files */



@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Regular.ttf) format("opentype");
}

@font-face {
  font-family: poppins-bold;
  src: url(./assets/fonts/Poppins-Bold.ttf) format("opentype");
}

::ng-deep .mat-radio-outer-circle{
  border-color: #3886FF !important;
}

.mat-body p, .mat-body-2 p, .mat-typography .mat-body p, .mat-typography .mat-body-2 p, .mat-typography p {
  margin: 0 0 0;
}

.mat-tooltip {
  background-color: #191F38;
  color: #FAFAFA;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #FFFFFF !important;
}

.input-code{
  width: 30px !important;
  height: 50px !important;
  border: 1px solid #D1D1D1 !important;
  border-radius: 5px !important;
  font-size: 1rem !important;
  text-align: center !important;
  color: #090B14 !important;
  font-weight: 700 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: poppins !important;
  color: #231f20;
}

.btn-azul {
  padding: 16px 32px;
  text-align: center;
  background: #191f38;
  color: #7dffb2;
  width: auto;
  font-weight: 700;
  font-size: 16px;
}

.btn-blanco {
  padding: 16px 32px;
  text-align: center;
  background: #FAFAFA;
  color: #191f38;
  border: 1px solid #191f38;
  width: auto;
  font-weight: 700;
  font-size: 16px;
}

.btn-redondo {
  width: 220px;
  border-radius: 100px;
}



/* Tema angular material */



@media screen and (max-width: 959px) {

  .mat-mdc-text-field-wrapper {
    width: 160% !important;
  }
  

  
}


