<div class="bg-white border-t border-[#C1C1C1] border-dashed rounded-xl text-base py-6">
    <div class="flex items-center justify-between mb-3">
      <span>Número de crédito</span>
      <span>****{{ creditNumber.slice(-4) }}</span>
    </div>
  
    <div class="flex flex-col gap-4" id="test">
      <div *ngFor="let item of dynamicData">
        <div class="flex justify-between">
          <span>{{ item.label }}</span>
          <span>{{ item.value }}</span>
        </div>
      </div>
    </div>
</div>