<div class="bg-white pb-6 px-4 border border-[#E4E3E3] rounded-xl text-base mb-6">
    <div class="flex items-center justify-between bg-[#F9F9F9] pt-4 pb-6 mb-6">
      <span><b>Número de crédito</b> <br> ****{{ '123456789'.slice(-4) }}</span>
    </div>
  
    <div class="flex flex-col gap-4">
      <div class="flex justify-between">
        <span>Valor de cuota</span>
        <span class="font-medium">{{ 10000 | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
      </div>
  
      <div class="flex justify-between">
        <span>Monto</span>
        <span class="font-medium">{{ 10000 | currency : 'USD' : 'symbol' : '1.0-0' }}</span>
      </div>
  
      <div class="flex justify-between">
        <span>Número de autorización</span>
        <span class="font-medium">{{ 10000 }}</span>
      </div>
    </div>
</div>