<div class="contenedor-list-credits">
    <div class="titulos">
        <p class="name"><b>Hola</b>, Sebastián</p>
        <p class="credits">Tienes <b>{{credits.length}}</b> activos</p>
    </div>
    <div class="contenedor-list-credits__table">
        <table class="table tablePres ">
            <thead>
                <tr>
                    <th class="th-primero">Número de crédito</th>
                    <th>Valor de cuota</th>
                    <th>Pago total</th>
                    <th>Fecha limite de pago</th>
                    <th class="th-ultimo">Acción</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let credit of credits">
                    <td>{{credit.id}}</td>
                    <td>{{credit.nextPaid | currency : 'USD' : 'symbol' : '1.0-0' }}</td>
                    <td>{{credit.saldoCredito | currency : 'USD' : 'symbol' : '1.0-0'}}</td>
                    <td>{{credit.nextFeesDate}}</td>
                    <td>
                        <button class="btn btn-redondo bg-verde" (click)="navigateToPay(credit)">Pagar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="contenedor-list-credits__cards-responsive">
        <div class="card card-fluid" *ngFor="let credit of credits ">
            <div class="card-header">
                <p class="card-title">Número de crédito</p>
                <p class="card-subtitle">{{credit.id}}</p>
            </div>
            <div class="card-body">
                <div class="contenedor-texto">
                    <p class="title">Valor de cuota</p>
                    <p>{{credit.nextPaid  | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
                </div>
                <div class="contenedor-texto">
                    <p class="title">Pago total</p>
                    <p>{{credit.saldoCredito  | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
                </div>
                <div class="contenedor-texto">
                    <p class="title">Fecha límite de pago</p>
                    <p>{{credit.nextFeesDate}}</p>
                </div>
            </div>
            <div class="contenedor-botones">
                <button class="btn btn-redondo bg-verde" (click)="navigateToPay(credit)">Pagar</button>
            </div>

        </div>
    </div>
</div>
