.contenedor-list-credits {
    margin-top: 40px;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 50px;
    overflow: hidden;
}

.contenedor-list-credits .titulos {
    margin-bottom: 20px;
    color: #191F38;
}

.contenedor-list-credits .titulos .name {
    font-size: 40px;
    text-decoration: underline;
    font-weight: 400;
    margin-bottom: 40px;
}

.contenedor-list-credits .titulos .credits {
    font-size: 18px;
}

.contenedor-list-credits .contenedor-list-credits__table {
    display: block;
    border-radius: 10px;
    border: 1px solid #E4E3E3;
}


table tr:last-child td {
    border-bottom: none;
    border-bottom-right-radius: 10px;
}

table thead tr th.th-primero {
    border-radius: 10px 0 0 0;
}

table thead tr th.th-ultimo {
    border-radius: 0 10px 0 0;
}

table thead tr {
    border-bottom: 1px solid #FAFAFA;
}

.btn-redondo {
    padding: 10px;
    font-size: 16px;
    color: #191F38;
    font-weight: 700;
}



.tablePres > tbody{
    border-top: 0px;
}

.bg-verde{
    background: #7DFFB2 !important;
}



table thead {
    font-size: 16px;
    font-weight: 700;
    background-color: #F9F9F9;
    border-radius: 10px;
    border-bottom: none;
}

table thead tr {
    border-style: none;
}

table thead tr th {
    padding: 10px 20px;
}

table tbody {
    color: #191F38;
    font-size: 17px;
    font-weight: 400;
    align-items: center;
}

table tbody tr td {
    padding: 40px;
    text-align: center;
    line-height: 40px;
}

.contenedor-list-credits .contenedor-list-credits__cards-responsive {
    display: none;
}

@media (max-width: 991px) {

    .contenedor-list-credits .contenedor-list-credits__table  {
        display: none;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive {
        display: block;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .card-header {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        text-align: left;
        font-size: 17px;
        padding: 20px 10px;
        border-bottom: 1px solid #FAFAFA;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .card-header .card-title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 5px;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        font-size: 13px;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .card-body .contenedor-texto {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .card-body .contenedor-texto .title {
        font-weight: 700;
    }

    .contenedor-list-credits .contenedor-list-credits__cards-responsive .card .contenedor-botones {
        padding: 20px;
    }
}