<div class="container-pay">
    <p>Elige qué quieres pagar</p>
    <div class="container-pay__opciones">
        <button [ngClass]="activeCuota ? 'active' : 'inactive'" (click)="optionSelected('cuota')"
            class="container-pay__opciones-cuota">
            <p class="title">Pagar</p>
            <p class="subtitle">Cuota</p>
            <p class="pay">{{creditSelected.nextPaid | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
        </button>
        <button [ngClass]="activeTotal ? 'active' : 'inactive'" (click)="optionSelected('deuda')"
            class="container-pay__opciones-deuda">
            <p class="title">Pagar</p>
            <p class="subtitle">Deuda total</p>
            <p class="pay">{{creditSelected.saldoCredito | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
        </button>
    </div>
    <div class="contenedor-botones">
        <button (click)="paymentPartial()" [ngClass]="!activeCuota ? 'hide-button' : ''" class="btn btn-azul btn-redondo">
            Pagar
        </button>
        <button (click)="paymentTotal()" [ngClass]="!activeTotal ? 'hide-button' : ''" class="btn btn-azul btn-redondo">
            Pagar
        </button>
    </div>

    <div class="container-pay__opciones-responsive">
        <div class="contenedor-opcion">
            <button [ngClass]="activeCuotaResponsive ? 'active' : 'inactive'" (click)="optionSelectedResponsive('cuota')"
                class="container-pay__opciones-cuota">
                <p class="title">Pagar</p>
                <p class="subtitle">Cuota</p>
                <p class="pay">{{creditSelected.nextPaid | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
            </button>
            <button (click)="paymentPartial()"   [ngClass]="!activeCuotaResponsive ? 'hide-button' : ''" class="btn btn-azul btn-redondo">
                Pagar
            </button>      
        </div>
        
        <div class="contenedor-opcion">
            <button [ngClass]="activeTotalResponsive ? 'active' : 'inactive'" (click)="optionSelectedResponsive('deuda')"
            class="container-pay__opciones-deuda">
            <p class="title">Pagar</p>
            <p class="subtitle">Deuda total</p>
            <p class="pay">{{creditSelected.saldoCredito | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
        </button>
            <button (click)="paymentTotal()"  [ngClass]="!activeTotalResponsive ? 'hide-button' : ''" class="btn btn-azul btn-redondo">
                Pagar
            </button>      
        </div>
    </div>
</div>