<p>credit-data works!</p>
<div class="containerPrincipal">
    <div class="container1">
        <div id="stepper1" class="bs-stepper" [ngClass]="{'vertical': verticalclass}">

            <div class="bs-stepper-header">
                <p>Datos Básicos</p>
            </div>

            <div class="bs-stepper-content">
                <div class="form">
                    <div class="content" [ngClass]="{'contentVertical': pantalla>small}">
                        <form class="form-group" [formGroup]="creditData">



                            <mat-form-field class="mat-form-field-padding" appearance="outline">
                                <mat-label>Monto a solicitar</mat-label>
                                <input autocomplete="off" type="text" matInput formControlName="monto">
                                <mat-hint>Monto entre {{partner.minAmmount}} y {{partner.maxAmmount}}</mat-hint>
                                <mat-error *ngIf="creditData.controls['monto'].invalid">
                                    {{getErrorMessage(creditData.controls['monto'])}}</mat-error>
                            </mat-form-field>


                            <mat-form-field class="mat-form-field-padding" appearance="outline">
                                <mat-label>Numero de cuotas</mat-label>
                                <input autocomplete="off" type="text" matInput formControlName="plazo">
                                <mat-hint>Cuotas entre {{partner.minCreditTerm}} y {{partner.maxCreditTerm}}</mat-hint>
                                <mat-error *ngIf="creditData.controls['plazo'].invalid">
                                    {{getErrorMessage(creditData.controls['plazo'])}}</mat-error>
                            </mat-form-field>

                            <div class="botonera">
                                <button id="cotinue" (click)="validationId()"
                                    class="btn btn-outline btn-blue">Continuar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>