<div class="input-group">
  <input placeholder="-" id="input1" type="text" [(ngModel)]="inputValues[0]" (input)="onInput(0)" maxlength="1">
  <input placeholder="-" id="input2" type="text" [(ngModel)]="inputValues[1]" (input)="onInput(1)" maxlength="1">
  <input placeholder="-" id="input3" type="text" [(ngModel)]="inputValues[2]" (input)="onInput(2)" maxlength="1">
  <input placeholder="-" id="input4" type="text" [(ngModel)]="inputValues[3]" (input)="onInput(3)" (keydown.enter)="sendInput()" maxlength="1">
  
  </div>
  