
input::placeholder {
  font-size: 24px;
  letter-spacing: 20px;
}

.code {
  font-size: 24px !important;
  letter-spacing: 20px !important;
}


@media screen and (max-width: 956px) {
  .w-100 {
    width: 20% !important;
  }
}