<div class="py-5 lg:py-0 pl-4 pr-5 flex flex-col lg:flex-row gap-4 rounded-xl border border-[#191F38] max-w-[344px] lg:max-w-none items-start m-auto mb-10 mt-5 divide-y lg:divide-x divide-[#191F38]">
    <div class="flex flex-col items-center lg:items-start justify-center lg:justify-start w-full lg:w-[269px] lg:py-5">
        <span class="font-medium">Monto Total Recaudado</span>
        <span>${{ totalAmmountCollection | currency : 'USD' : '' : '1.0-0' }}</span>
    </div>
</div>
<app-coordinator-info [totalResults]="totalEntries"></app-coordinator-info>